.board__departure-arrival {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 1120px;
  margin: auto;
}

.board__departure {
  border-radius: 60px 0 0 0;
  // z-index: -1;
  text-align: right;
  background: #1eb7ee;
  width: 100vw;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.board__arrivel {
  border-radius: 60px 60px 0 0;
  text-align: right;
  margin-left: -60px;
  background-color: #fff;
  width: 100vw;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #1eb7ee;
  cursor: pointer;
  text-transform: uppercase;
}
.board__departure-on {
  border-radius: 60px 60px 0 0;
  margin-right: -60px;
  text-align: right;
  background-color: #fff;
  width: 100vw;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #1eb7ee;
  cursor: pointer;
  z-index: 1;
  text-transform: uppercase;
}

.board__arrivel-off {
  border-radius: 0 60px 0 0;
  text-align: right;
  background-color: #1eb7ee;
  width: 100vw;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

// a {
//   text-transform: uppercase;
//   text-decoration: none;
// }

.board__departure-icon {
  background-image: url('../icon/blue_plane.png');
}
