.board__date {
  height: 100px;
  width: 1120px;
  background-color: #fff;
  margin: auto;
  padding-top: 27px;
}

.date__select {
  display: flex;
  height: 60px;
  width: 60px;
  margin-left: 15px;
  justify-content: flex-start;
  align-items: center;
}

.date__icon {
  margin-bottom: 50px;
}

.date__form {
  position: absolute;
  opacity: 0;
  height: 60px;
  width: 60px;
  z-index: 1;
}

.date__icon-text {
  padding-left: 5px;
  font-size: 12px;
  font-weight: 700;
  color: #1eb7ee;
}

.date__icon-png {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  background-size: 40px !important;
  background: url(https://my-airport-board.netlify.app/57e54a9d63bcb1e6a03c.png) no-repeat;
}

input[type='date']::-webkit-calendar-picker-indicator {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  color: transparent;
  background: green;
  cursor: pointer;
}

.date__days-box {
  color: #b8b9b9;
  width: 100px;
  padding-bottom: 5px;
  border-bottom: 3px solid #d0d0d0;
}

.date__days-box.active {
  color: #1eb7ee;
  width: 100px;
  padding-bottom: 5px;
  border-bottom: 3px solid #1eb7ee;
}

.date__days {
  margin-left: 30px;
  display: flex;
}

.date__days-num {
  font-size: 12px;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: center;
}

.date__days-text {
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}
